body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    
    
}

header {
    background-color: #641515;
    text-align: center;
    padding: 20px;
}


main {
    text-align: center;
    padding: 20px;

}

#image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container {
    margin: 10px;
}

.image-container img {
    max-width: 200px;
    max-height: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #641515;
}
